@import "../../config/variables";

.go-to-top-btn {
  position: fixed;
  z-index: 50;
  right: 30px;
  bottom: 5px;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  color: #fff;
  background: rgba(00, 00, 00, 0.3);
  border: 1px solid white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.4s linear;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &.is-visible {
    opacity: 1;
  }
}
