@import "../../config/variables";

.gallery-wrapper {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-gallery {
  padding: $mobile-padding;
  // width: 300px;
  // max-width: 100vw;
  // height: 50vh;

  img {
    width: 100%;
    height: 100%;
  }
}
