$color-background: black;

$text-primary: white;
$text-secondary: grey;
$text-special: #778dc9;

$text-description-primary: #2a2929;
$text-description-secondary: #819cf5;

$main-padding: 24px;
$mobile-padding: 16px;

$breakpoints: (
  xs: 340px,
  sm: 600px,
  md: 960px,
  lg: 1280px
);
