@import url(https://fonts.googleapis.com/css?family=Poppins);
@import "../config/variables";
@import "../config/reset";
@import "../config/transitionReact";
@import "../config/translate3d";

/* FONTS */

@font-face {
  font-family: "bebas_neuebold";
  src: url("/fonts/bebasneue_bold-webfont.woff2") format("woff2"),
    url("/fonts/bebasneue_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* CANVAS */

.background-particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1000;
  background-color: $color-background;
  height: 120%;
  width: 120%;
}

.pixi-canvas {
  width: 100%;
  height: 100%;
}

/* GENERAL STYLES */

body {
  color: $text-primary;
  background-color: $color-background;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.body-overflow {
  overflow: hidden;
}

.body-overflow-contact {
  overflow: hidden;
}

/* GO TOP BUTTON */

#goTop {
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 5px;
  transform: translateY(-50%);
  padding: 10px;
  color: #fff;
  background: rgba(00, 00, 00, 0.3);
  border: none;
  opacity: 0;
  transition: opacity 0.4s linear;
}
#goTop.is-visible {
  opacity: 1;
}
