@import "../../config/variables";

.gallery-wrapper {
  background: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

// hide 2 last empty containers for vertical galery better experience
.gallery-without-padding {
  .js-image-6,
  .js-image-7 {
    visibility: hidden;
  }
}

// FIX for some insights on the flickering, jumping, jittering pinned elements bug
.gallery-without-padding {
  .scrollmagic-pin-spacer {
    padding: 0 !important;
  }
}
