@import "../../config/partials/variables";

.nav-menu {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(100% - 50px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  .point {
    height: 0.7em;
    width: 0.7em;
    margin: 1em;
    border-radius: 50%;
    border: 1px #fff solid;
    // transition
    text-shadow: none;
    transition-duration: 0.5s;
    transition-property: text-shadow, background-color;
  }
}

.active div {
  background-color: #fff;
}

.navlink {
  padding: 0.5em;
  text-decoration: none;
  color: #fff;
  position: relative;
  &:hover .point {
    background-color: #fff;
    text-shadow: #fff 0 0 40px;
  }
  p {
    position: absolute;
    top: -1em;
    left: -1em;
    opacity: 0;
    transition: 1s;
  }
  &:hover p {
    opacity: 0.8;
  }
}
