@import "../../../config/variables";

.whale-intro-wrapper {
  position: absolute;
  top: 50px;
  left: 100px;
  max-width: 50vw;
  height: 80vh;
  font-size: 1rem;
  line-height: 1.8rem;

  @media screen and (min-width: map-get($breakpoints, md)) {
    top: 200px;
    left: 200px;
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .intro-text-mobile {
    display: block;
    @media screen and (min-width: map-get($breakpoints, md)) {
      display: none;
    }
  }

  .intro-text-desktop {
    display: none;
    @media screen and (min-width: map-get($breakpoints, md)) {
      display: block;
    }
  }

  .whale-arrow {
    margin-right: $main-padding;
    padding-top: $main-padding * 2;
    font-size: 1.5rem;

    @media screen and (min-width: map-get($breakpoints, md)) {
      padding-top: 200px;
      font-size: 3rem;
    }
  }

  .scroll-down-txt {
    position: relative;
    top: -$main-padding/2;
    font-size: 1rem;

    @media screen and (min-width: map-get($breakpoints, md)) {
      font-size: 2rem;
    }
  }
}
